<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Veems</title>

    <link href="/static/bootstrap-custom.css" rel="stylesheet">
    <link href="/static/dashboard.css" rel="stylesheet">
    <link href="/static/comments.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="http://content.jwplatform.com/libraries/oH2wJDod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://sheet2api.com/v1/template.js"></script>
</head>


{% block body %}
{% endblock %}


{% include '_modal_create_channel.html' %}
{% include '_modal_create_sync.html' %}
{% include '_modal_login.html' %}
{% include '_modal_upload.html' %}
{% include '_modal_video_detail.html' %}
{% include '_modal_create_account.html' %}

</html>
