{% extends "base_public.html" %}
{% block content %}
<main class="mx-auto col d-block w-100 p-0 middle-col justify-content-between bg-secondary">
    <div>
        <div class="row w-100 bg-light m-0 p-3">

            <div class="col-12">

                <h1 class="h3">You're posting a video response to:</h1>
                <div class="d-flex align-items-center">
                    <div class="thumbnail-small mr-2">
                        <a href="/video"><img class="img-fluid"
                                src="https://i.ytimg.com/vi/pJkgymyv0_s/hq720.jpg?sqp=-oaymwEZCNAFEJQDSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLCfMf5cCfG3GSPEB1LkYOuXFvgkOw" /></a>
                    </div>
                    <a href="/video">
                        <h2 class="h4 text-truncate">Marathon Day Is Here | How ToBe Behzinga</h2>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="row w-100 p-3 m-0">
        <div class="col-12 col-lg-8 p-0">
            <div
                class="flex-row box-shadow-bottom d-flex justify-content-center justify-content-md-between align-items-center">
                <ul class="nav settings-nav">
                    <li class="nav-item">
                        <a class="nav-link active " href="/respond">Choose an existing video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/respond/upload">Upload a new video</a>
                    </li>
                </ul>
            </div>

            <div class="border mt-3 rounded bg-white">
                <div class="row">
                    <div class="col p-5 d-inline-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column">
                            <div class="my-3 d-inline-flex align-self-center align-items-center justify-content-center bg-light rounded-circle"
                                style="width: 150px; height: 150px">
                                <i class="material-icons  text-secondary" style="font-size: 72px !important">check</i>
                            </div>
                            <div class="mt-3 align-self-center text-center" style="max-width: 500px;">
                            <h1 class="h3">You have successfully completed your Video Response!</h1>
                            <p>Your video response will be posted after it has been approved by the video owner.</p>
                            <div>
                                <a href="/video" class="btn btn-primary">Return to the original video</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="pt-3">
                <h6 class="d-flex align-items-center border-bottom pb-2">What is a video response?</h6>
                <p>Ever wanted to talk back to a video?<br />Now's your chance — you can upload a response to this video
                    and
                    we will link them together.</p>
            </div>
            <div class="pt-3">
                <h6 class="d-flex align-items-center border-bottom pb-2">How do I post video response?</h6>
                <p>You can either choose from the videos you already have, or create and upload a new video. Select the
                    option on the left that best suits your needs.</p>

            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2({
            theme: 'bootstrap4',
        });
    });
</script>
{% endblock %}
